VITE_API_URL=your_api_url
VITE_HEALTH_CHECK_URL=your_health_check_url
VITE_GOOGLE_CLIENT_ID=your_google_client_id
VITE_POSTHOG_KEY=your_posthog_project_api_key
VITE_POSTHOG_HOST=https://us.i.posthog.com