REDIS_URL=your_redis_url
SUPABASE_URL=your_supabase_url
SUPABASE_KEY=your_supabase_key
TIINGO_API_KEY=your_tiingo_api_key
APP_ENV=your_app_env
GITHUB_TOKEN=your_github_token
CORS_ORIGINS=your_cors_origins